.butn1 {
  position: absolute;
  top: 15%;
  left: 20%;
  background-color: white;
  padding: 10px;
}
.butn2 {
  position: absolute;
  top: 12.5%;
  left: 77%;
  background-color: white;
  padding: 10px;
}
.butn3 {
  position: absolute;
  top: 20%;
  left: 73%;
  background-color: white;
  padding: 10px;
}
.butn4 {
  position: absolute;
  top: 25%;
  left: 15%;
  background-color: white;
  padding: 10px;
}
.butn5 {
  position: absolute;
  top: 25%;
  left: 42%;
  background-color: white;
  padding: 10px;
}
.butn6 {
  position: absolute;
  top: 27.5%;
  left: 73%;
  background-color: white;
  padding: 10px;
}
.butn7 {
  position: absolute;
  top: 34.25%;
  left: 25%;
  background-color: white;
  padding: 10px;
}
.butn8 {
  position: absolute;
  top: 34.25%;
  left: 75%;
  background-color: white;
  padding: 10px;
}
.butn9 {
  position: absolute;
  top: 45.5%;
  left: 45%;
  background-color: white;
  padding: 10px;
}

.butn2:hover {
  text-decoration: underline;
}
.butn1:hover {
  text-decoration: underline;
}
.img1:hover {
  transform: scale(1.09);
  transition: all 0.9s ease;
}
.img2:hover {
  transform: scale(1.09);
  transition: all 0.9s ease;
}

.img3:hover {
  transform: scale(1.09);
  transition: all 0.9s ease;
}

.img4:hover {
  transform: scale(1.09);
  transition: all 0.9s ease;
}

.img5:hover {
  transform: scale(1.09);
  transition: all 0.9s ease;
}

.img6:hover {
  transform: scale(1.09);
  transition: all 0.9s ease;
}

.img7:hover {
  transform: scale(1.09);
  transition: all 0.9s ease;
}

.img8:hover {
  transform: scale(1.09);
  transition: all 0.9s ease;
}

.img9:hover {
  transform: scale(1.09);
  transition: all 0.9s ease;
}
.butn3:hover {
  text-decoration: underline;
}
.butn4:hover {
  text-decoration: underline;
}
.butn5:hover {
  text-decoration: underline;
}
.butn6:hover {
  text-decoration: underline;
}
.butn7:hover {
  text-decoration: underline;
}
.butn8:hover {
  text-decoration: underline;
}
.butn9:hover {
  text-decoration: underline;
}
