.but1 {
  position: absolute;
  top: 38%;
  left: 23%;
  color: black;
  background-color: white;
  border-radius: 0;
  font-weight: 350;
}
.but2 {
  position: absolute;
  top: 30%;
  left: 76%;
  color: black;
  background-color: white;
  border-radius: 0;
  font-weight: 350;
}
.but2:hover {
  text-decoration: underline;
}
.but1:hover {
  text-decoration: underline;
}
.img1:hover {
  transform: scale(1.05);
  transition: all 0.7s ease;
}
.img2:hover {
  transform: scale(1.05);
  transition: all 0.7s ease;
}
.but3 {
  position: absolute;
  top: 51%;
  left: 72%;
  color: black;
  background-color: white;
  border-radius: 0;
  font-weight: 350;
}
.img3:hover {
  transform: scale(1.05);
  transition: all 0.7s ease;
}
.but4 {
  position: absolute;
  top: 66%;
  left: 16%;
  color: black;
  background-color: white;
  border-radius: 0;
  font-weight: 350;
}
.img4:hover {
  transform: scale(1.05);
  transition: all 0.7s ease;
}
.but5 {
  position: absolute;
  top: 66%;
  left: 46%;
  color: black;
  background-color: white;
  border-radius: 0;
  font-weight: 350;
}
.img5:hover {
  transform: scale(1.05);
  transition: all 0.7s ease;
}
.but6 {
  position: absolute;
  top: 72%;
  left: 72%;
  color: black;
  background-color: white;
  border-radius: 0;
  font-weight: 350;
}
.img6:hover {
  transform: scale(1.05);
  transition: all 0.7s ease;
}
.but7 {
  position: absolute;
  top: 94%;
  left: 22%;
  color: black;
  background-color: white;
  border-radius: 0;
  font-weight: 350;
}
.img7:hover {
  transform: scale(1.05);
  transition: all 0.7s ease;
}
.but8 {
  position: absolute;
  top: 94%;
  left: 76%;
  color: black;
  background-color: white;
  border-radius: 0;
  font-weight: 350;
}
.img8:hover {
  transform: scale(1.05);
  transition: all 0.7s ease;
}
.but9 {
  position: absolute;
  top: 74%;
  left: 86%;
  color: black;
  background-color: white;
  border-radius: 0;
  font-weight: 350;
}
.img9:hover {
  transform: scale(1.05);
  transition: all 0.7s ease;
}
.but3:hover {
  text-decoration: underline;
}
.but4:hover {
  text-decoration: underline;
}
.but5:hover {
  text-decoration: underline;
}
.but6:hover {
  text-decoration: underline;
}
.but7:hover {
  text-decoration: underline;
}
.but8:hover {
  text-decoration: underline;
}
.but9:hover {
  text-decoration: underline;
}
