.nav1:hover {
  transform: scale(1.5);
  transition: all 0.9s ease;
  text-decoration: underline;
}
.nav2:hover {
  transform: scale(1.5);
  transition: all 0.9s ease;
  text-decoration: underline;
}
.nav3:hover {
  transform: scale(1.5);
  transition: all 0.9s ease;
  text-decoration: underline;
}
.nav4:hover {
  transform: scale(1.5);
  transition: all 0.9s ease;
  text-decoration: underline;
}
.nav5:hover {
  transform: scale(1.5);
  transition: all 0.9s ease;
  text-decoration: underline;
}
.nav6:hover {
  transform: scale(1.5);
  transition: all 0.9s ease;
  text-decoration: underline;
}
.nav7:hover {
  transform: scale(1.5);
  transition: all 0.9s ease;
  text-decoration: underline;
}
.nav8:hover {
  transform: scale(1.5);
  transition: all 0.9s ease;
  text-decoration: underline;
}
.nav9:hover {
  transform: scale(1.5);
  transition: all 0.9s ease;
  text-decoration: underline;
}
.nav10:hover {
  transform: scale(1.5);
  transition: all 0.9s ease;
  text-decoration: underline;
}
.advert:hover {
  transform: scale(1.09);
  transition: all 0.9s ease;
}
